<!DOCTYPE html>

{% load static %}

<html>
  <!-- Headers -->
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'feads_main/style.css' %}">
  </head>

  <!-- Body -->
  <body style="margin: auto; width: 75%;">

    <ul>
      {% if user.is_authenticated %}
      <li>You are logged in as {{ user.username }}</li>
      <li><a href="{% url 'logout' %}">Log out</a></li>
      {% else %}
      <li>You are not logged in</li>
      <li><a href="{% url 'login' %}">Log in</a></li>
      {% endif %}
    </ul>

    <h1 class="noselect"> Feads </h1> <br><br>
    <p> <a href="/"> Click here to return to home </a> </p>
    
    <h1>{{ dsr.resource_type.lower.title }} approval request</h1>
    
    <h2><b>{{ dsr.title }}</b></h2>
    
    <h3>{{ dsr.description }}</h3>
    
    <p style="color:red">{{ err_msg }}</p>
    
    {% if allowed %}
    <form action="process_decision/{{dsr.title}}" id="usrform" method="post">
      {% csrf_token %}
      {% if previous_choice %}
      <input type="radio" name="decision" value="approve" checked="checked"> Approve <br>
      <input type="radio" name="decision" value="defer"> Defer approval
      <br><br>
      {% else %}
      <input type="radio" name="decision" value="approve"> Approve<br>
      <input type="radio" name="decision" value="defer" checked="checked"> Defer approval
      <br><br>
      {% endif %}
      <textarea rows="10" cols="100" onfocus="clearContents(this);" name="comment">{{ previous_comment }}</textarea><br>
      <input type="submit">
    </form>
    {% endif %}
    
    <script>
      function clearContents(element) {
	  if (element.value == 'Please enter a comment or reason for deferment.'){
	      element.value = '';
	  }
      }
    </script>
  </body>
</html>
